@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap');

* {margin:0; padding:0; box-sizing:border-box;}
body {font-size:12px; line-height:18px; font-family: 'Noto Sans KR', sans-serif;}
a {color:#121212; text-decoration:none;}
ul,ol,li {list-style:none;}
img {border:none; vertical-align:top;}
